<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">
    <item android:id="@+id/K1"
        android:title="Kalvin"
        />
    <item android:id="@+id/C1"
        android:title="celcius"
       />
</menu>